body {
  background: url("https://i.ibb.co/WgvSPRT/blue-palette-liquid-ink-background-with-golden-streaks.jpg")
    rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}


.contenedor{
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
}

.backg{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1%;
  border-radius: 15px;
}

.error{
  color: red;
}

.flex{
  display: flex;
}
