body {
  background: linear-gradient(rgba(12, 16, 26, 0.1),rgba(12, 16, 26, 0.1)) ,url("https://i.ibb.co/WgvSPRT/blue-palette-liquid-ink-background-with-golden-streaks.jpg")
    rgba(255, 255, 255, 0.3);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  transition: 4s;
  
}

body:hover {

  background: linear-gradient(rgba(12, 16, 26, 0.75), rgba(5,7,12, 0.75)), url("https://i.ibb.co/WgvSPRT/blue-palette-liquid-ink-background-with-golden-streaks.jpg")
  rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  background-size: cover;
  background-attachment: fixed;
}

.contenedor{
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
}

.backg{
  background-color: rgba(180, 178, 178, 0.4);
  padding: 1%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: rgb(59, 57, 57) 1px 1px 25px;
}

.error{
  color: red;
  text-shadow: black 1px 1px 2px;
}

.flex{
  display: flex;
}

.texto{
  text-shadow: black 3px 3px 5px;
}
