{% extends 'beauty/base.html' %}

{% load static %}

{% block content %}

<div class="about-us-container">
  <div class="about-us-content">
      <h1>Sobre Nosotros</h1>
      <h2>Nuestra Historia y Misión</h2>

      <p>Bienvenidos a Beauty on you, donde nuestra pasión por la asesoría de imagen se refleja en todo lo que hacemos. Desde nuestros humildes comienzos en 2020, 
        hemos crecido y evolucionado, 
        pero nuestra misión sigue siendo la misma: 
        ofrecer el servicio de la más alta calidad y crear experiencias 
        memorables para nuestros clientes.</p>
      
      <hr>

      <h2>Nuestra Historia</h2>
      <p>Todo comenzó cuando 4 amigos decidieron idear un software capaz de poder 
        asesorar a cualquier persona que quisiera mejorar 
        su imagen. Con una visión clara y mucho trabajo 
        duro, estos 4 amigos fundaron "Beauty on you" en 
        el año 2020. Desde entonces, hemos pasado de ser 
        un pequeño negocio a una empresa reconocida en 
        toda Latinoamérica, gracias a la confianza y 
        apoyo de nuestros clientes.</p>
      
      <hr>

      <h2>Nuestra Misión y Valores</h2>
      <p>En Beauty on you, nuestra misión es poder dar la mejor asesoria de manera 
        personalizada para cualquier de nuestro clientes. Creemos firmemente en el trato justo con nuestros colaborades, en dar siempre un excelente servicio para cada uno de nuestros clientes, innovar y 
        mejorar nuestro software para brindar siempre la mejor 
        experiencia . Nos esforzamos por ser una empresa responsable y 
        comprometida con nuestra comunidad y el medio ambiente.</p>
      
      <hr>

      <h2>Qué Nos Hace Diferentes</h2>
      <p>Lo que nos distingue en Beauty on you es nuestro 
        compromiso con mejorar la autopercepción de nuestros clientes, no sólo mejorar su forma de verse
        sino también su forma de sentirse. Nos enorgullecemos de 
        de ser reconocidos por ser número en innovación en la revista
        glamour y vanidad en el año 2021 y seguimos trabajando cada día 
        para superar las expectativas de nuestros clientes.</p>
      
      <hr>

      <h2>Nuestro Equipo</h2>
      <p>Nuestro equipo está compuesto por 20 personas que no sólo trabajan como creadores del software
        sino también en las asesorías y creación de blogs para conecatr con nuestros clientes,
        poniendo en ello su pasión y compromiso por mejoramiento de imagen de nuestros clientes. 
        Creemos que el éxito de Beauty on you es el resultado del esfuerzo y la dedicación de cada 
        uno de nuestros empleados, quienes trabajan juntos para ofrecer 
        lo mejor a nuestros clientes.</p>
      
      <hr>

      <h2>Contacto y Conexión</h2>
      <p>Nos encantaría saber de ti. Si tienes alguna pregunta, comentario o simplemente quieres conocernos mejor, no dudes en ponerte en contacto con nosotros a través de nuestro canal de contacto, indicado en el pie de página. También puedes seguirnos en nuestras redes sociales para estar al día con nuestras últimas noticias y ofertas.</p>
  </div>
</div>

{% endblock %}