{% extends 'beauty/base.html' %}

{% load static %}

{% block content %}


<div class="privacy-container">
  <div class="privacy-content">
      <h1>Política de Privacidad</h1>

      <h2>1. Introducción</h2>
      <p>En Beauty on You, valoramos y respetamos su privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporciona a través de nuestro sitio web.</p>
      
      <hr>

      <h2>2. Información que Recopilamos</h2>
      <p>Podemos recopilar la siguiente información personal cuando usted utiliza nuestro sitio web:</p>
      <ul class="uwu">
          <li>Nombre y apellidos</li>
          <li>Información de contacto, incluyendo dirección de correo electrónico</li>
          <li>Información demográfica, como código postal, preferencias e intereses</li>
          <li>Otra información relevante para encuestas y/o ofertas de clientes</li>
      </ul>

      <hr>

      <h2>3. Cómo Utilizamos la Información</h2>
      <p>Utilizamos la información que recopilamos para entender mejor sus necesidades y ofrecerle un mejor servicio. En particular, usamos su información para:</p>
      <ul class="uwu">
          <li>Mantenimiento de registros internos</li>
          <li>Mejorar nuestros productos y servicios</li>
          <li>Enviar correos electrónicos promocionales sobre nuevos productos, ofertas especiales u otra información que pensamos que puede resultar interesante utilizando la dirección de correo electrónico que nos ha proporcionado</li>
          <li>Contactarle para realizar estudios de mercado</li>
      </ul>

      <hr>

      <h2>4. Seguridad</h2>
      <p>Estamos comprometidos con garantizar que su información esté segura. Para prevenir el acceso no autorizado o la divulgación, hemos implementado procedimientos físicos, electrónicos y administrativos adecuados para proteger y asegurar la información que recopilamos en línea.</p>
      
      <hr>

      <h2>5. Uso de Cookies</h2>
      <p>Utilizamos cookies para analizar el tráfico del sitio web, personalizar el contenido y los anuncios, y ofrecer funciones de redes sociales. Puede elegir aceptar o rechazar las cookies. La mayoría de los navegadores web aceptan automáticamente las cookies, pero usted puede modificar la configuración de su navegador para rechazar las cookies si lo prefiere.</p>
      
      <hr>

      <h2>6. Enlaces a Otros Sitios Web</h2>
      <p>Nuestro sitio web puede contener enlaces a otros sitios de interés. Sin embargo, una vez que haya utilizado estos enlaces para salir de nuestro sitio, debe tener en cuenta que no tenemos control sobre ese otro sitio web. Por lo tanto, no podemos ser responsables de la protección y privacidad de cualquier información que proporcione mientras visita dichos sitios.</p>
      
      <hr>

      <h2>7. Control de su Información Personal</h2>
      <p>Usted puede optar por restringir la recopilación o el uso de su información personal de las siguientes maneras:</p>
      <ul class="uwu">
          <li>Siempre que se le pida que complete un formulario en el sitio web, busque la casilla que puede marcar para indicar que no desea que la información sea utilizada por nadie con fines de marketing directo</li>
          <li>Si previamente ha acordado con nosotros que utilicemos su información personal para fines de marketing directo, puede cambiar de opinión en cualquier momento escribiéndonos o enviándonos un correo electrónico a [dirección de correo electrónico]</li>
      </ul>

      <hr>

      <h2>8. Actualización de Su Información</h2>
      <p>Si cree que la información que tenemos sobre usted es incorrecta o incompleta, por favor escríbanos o envíenos un correo electrónico lo antes posible a la dirección arriba indicada. Corregiremos cualquier información que resulte incorrecta lo antes posible.</p>
      
      <hr>

      <h2>9. Cambios a esta Política de Privacidad</h2>
      <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página y será efectivo inmediatamente después de su publicación. Revise esta página periódicamente para mantenerse informado sobre cómo protegemos su información.</p>
      
      <hr>

      <h2>10. Contacto</h2>
      <p>Si tiene alguna pregunta sobre esta política de privacidad o el tratamiento de su información personal, por favor contáctenos en [dirección de correo electrónico].</p>
  </div>
</div>

{% endblock %}