{% extends 'beauty/base.html' %}

{% load static %}

{% block content %}

  <div class="titulo-reseña-container">
    <h1 class="d-flex justify-content-center">Reseñas</h1>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 me-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/resena/resena1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="reseña-card-title ">Macarena Farias</h5>
          <button type="button" class="reseña-btn btn-outline-primary btn-sm">Like</button>
          <p class="reseña-card-text">"Me encanta esta app. Siempre he tenido problemas para encontrar consejos de moda que 
                                realmente se adapten a mis características personales. Con esta app, puedo seleccionar mi color de
                                 ojos, piel y cabello, ¡y los consejos son fantásticos! Además, los blogs son muy informativos y las reseñas
                                  de otros usuarios me han ayudado a sacarle el máximo provecho. ¡El diseño es hermoso y muy fácil de usar!".</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Ultima actualizacion hace 2 dias</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/resena/resena2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="reseña-card-title">Pamela Perez</h5>
          <button type="button" class="reseña-btn btn-outline-primary btn-sm">Like</button>
          <p class="reseña-card-text">"¡Una app fantástica! Siempre he querido personalizar mi estilo y esta app lo hace muy fácil.
                                 El proceso de selección de características es sencillo y los consejos son realmente acertados.
                                  Además, los blogs me han dado mucha inspiración. Me encanta que puedo leer reseñas de otros usuarios y el diseño 
                                  es simplemente encantador."</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Ultima actualizacion hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/resena/resena3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="reseña-card-title">Pablo Godoy</h5>
          <button type="button" class="reseña-btn btn-outline-primary btn-sm">Like</button>
          <p class="reseña-card-text">"Esta app ha sido una gran ayuda para mí. Nunca he sido muy bueno con la moda, pero con esta herramienta 
                                puedo obtener consejos personalizados que realmente se adaptan a mi estilo. Me encanta que pueda seleccionar
                                 mis características como la barba y los cortes especiales. Los blogs son muy interesantes y siempre encuentro algo útil. 
                                 El diseño es limpio y fácil de navegar.".</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Ultima actualizacion hace 1 semana</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 me-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/resena/resena4.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="reseña-card-title">Sofia Gonzales</h5>
          <button type="button" class="reseña-btn btn-outline-primary btn-sm">Like</button>
          <p class="reseña-card-text">"Esta app es muy innovadora y útil para personalizar nuestro look. El diseño es hermoso y fácil de usar, lo cual es un gran plus.
                                  Sin embargo, creo que la sección de reseñas podría ser más interactiva, permitiendo a los usuarios responder a los 
                                  comentarios de otros. Además,sería genial si hubiera una función de recomendaciones de productos basadas en nuestros perfiles.".</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Ultima actualizacion hace 1 mes</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/resena/resena5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="reseña-card-title">Sebastian Donoso</h5>
          <button type="button" class="reseña-btn btn-outline-primary btn-sm">Like</button>
          <p class="reseña-card-text">"Estoy realmente impresionado con esta app. Los consejos personalizados me han ayudado a mejorar
                                 mi estilo de una manera que nunca pensé posible. Los blogs son muy inspiradores y me encanta leer 
                                 las reseñas de otros usuarios. El diseño es moderno y fácil de navegar, lo cual hace que la experiencia sea muy agradable.".</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Ultima actualizacion hace 12 horas</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/resena/resena6.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="reseña-card-title">Clarck Flores</h5>
          <button type="button" class="reseña-btn btn-outline-primary btn-sm">Like</button>
          <p class="reseña-card-text"> "¡Fantástica app! He probado muchas aplicaciones de moda antes, pero ninguna ha sido tan precisa y útil como esta.
                                 Los consejos basados en mis características son muy acertados y los blogs siempre tienen algo interesante que ofrecer.
                                  El diseño es limpio y muy atractivo. Definitivamente la recomendaré a mis amigos.".</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Ultima actualizacion hace 7 dias</small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}