{% extends 'beauty/base.html' %}

{% load static %}

{% block content %}
<style>

    
    .pieles {

    height: 80px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    }

    .colores {

        height: 30px;
        width: 60px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.4);
    }
</style>
<head>
  <title>Recomendaciones de Moda y Colores para Pieles Oscuras a Morenas Oscuras</title>
</head>
  
<div class="blog-container mb-5">
    <div class="blog-content">
        <div class="section">
            <h2>Introducción</h2>
            <p>Las pieles claras abarcan desde tonos rojizos y rosados hasta los más pálidos. Cada tono puede beneficiarse de ciertos colores y estilos que realzan la belleza natural. Este blog ofrece recomendaciones detalladas para hombres y mujeres con pieles claras, ayudándoles a elegir los mejores colores, prendas, accesorios y sombreros para distintas ocasiones.</p>
        </div>

        <div class="section">
            <h2>Pieles Claras Rojizas (Códigos Hexadecimales #FFC1CC a #FFB6C1)</h2>
            <img class="pieles" src="{% static 'images/Colores/Pieles/PielesClaras/Rojiza1.png' %}">
              <img class="pieles" src="{% static 'images/Colores/Pieles/PielesClaras/Rojiza2.png' %}">
            <p>Las personas con pieles rojizas pueden destacar con colores que complementen su tono natural. Aquí algunas sugerencias:</p>
            <ul class="uwu">
                <li><strong>Colores:</strong>
                    <ul class="uwu">
                        <li>Verde esmeralda (#50C878)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/VerdeEsmeralda.png' %}" >
                        <li>Azul marino (#000080)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/AzulMarino.png' %}" >
                        <li>Rosa suave (#FFB6C1)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/RosadoSuave.png' %}" >
                        <li>Beige (#F5F5DC)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/Beige.png' %}" >
                    </ul>
                </li>
                <li><strong>Prendas:</strong>
                    <ul class="uwu">
                        <li><em>Informal:</em> Camisetas en tonos pastel, jeans claros, vestidos ligeros.</li>
                        <li><em>Casual:</em> Blusas de seda, pantalones de lino, faldas midi.</li>
                        <li><em>Formal:</em> Trajes en tonos oscuros, vestidos de noche en colores profundos.</li>
                    </ul>
                </li>
            </ul>
            <h3>Accesorios</h3>
            <p>Para las pieles rojizas, se recomiendan accesorios en tonos cálidos y metálicos:</p>
            <ul class="uwu">
                <li>Joyas en tonos dorados o cobre.</li>
                <li>Bolsos en colores tierra o metálicos.</li>
                <li>Pañuelos en tonos vivos para añadir color.</li>
            </ul>
            <h3>Sombreros y Gorros</h3>
            <p>Los sombreros y gorros pueden complementar cualquier look. Aquí algunas recomendaciones:</p>
            <ul class="uwu">
                <li><em>Informal:</em> Gorras de algodón para el verano, gorros de lana para el invierno.</li>
                <li><em>Formal:</em> Sombreros de ala ancha en tonos neutros, sombreros tipo fedora.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Pieles Claras Rosadas (Códigos Hexadecimales #FFB6C1 a #FFDFD3)</h2>
            <img class="pieles" src="{% static 'images/Colores/Pieles/PielesClaras/ClaraRosa1.png' %}">
              <img class="pieles" src="{% static 'images/Colores/Pieles/PielesClaras/ClaraRosa2.png' %}">
            <p>Las pieles rosadas se ven favorecidas por colores suaves y tonos cálidos. Aquí algunas recomendaciones:</p>
            <ul class="uwu">
                <li><strong>Colores:</strong>
                    <ul class="uwu">
                        <li>Lavanda (#E6E6FA)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/Lavanda.png' %}" >
                        <li>Coral (#FF7F50)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/Coral.png' %}" >
                        <li>Verde menta (#98FF98)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/VerdeMenta.png' %}" >
                        <li>Gris claro (#D3D3D3)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/GrisClaro.png' %}" >
                    </ul>
                </li>
                <li><strong>Prendas:</strong>
                    <ul class="uwu">
                        <li><em>Informal:</em> Camisetas de algodón, pantalones cortos, vestidos veraniegos.</li>
                        <li><em>Casual:</em> Camisas de lino, pantalones capri, faldas largas.</li>
                        <li><em>Formal:</em> Blazers en tonos pasteles, vestidos de noche elegantes.</li>
                    </ul>
                </li>
            </ul>
            <h3>Accesorios</h3>
            <p>Para las pieles rosadas, se recomiendan accesorios en tonos suaves y metálicos:</p>
            <ul class="uwu">
                <li>Collares y pulseras en tonos dorados o plateados.</li>
                <li>Bolsos en colores claros o pasteles.</li>
                <li>Pañuelos en tonos suaves para añadir un toque de elegancia.</li>
            </ul>
            <h3>Sombreros y Gorros</h3>
            <p>Para complementar el estilo, los sombreros y gorros adecuados son:</p>
            <ul class="uwu">
                <li><em>Informal:</em> Sombreros de paja para el verano, gorros de punto para el invierno.</li>
                <li><em>Formal:</em> Sombreros tipo cloche en tonos neutros, sombreros de ala ancha para eventos formales.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Pieles Claras Pálidas (Códigos Hexadecimales #FFE4E1 a #FFFAF0)</h2>
            <img class="pieles" src="{% static 'images/Colores/Pieles/PielesClaras/ClaraPalida1.png' %}">
              <img class="pieles" src="{% static 'images/Colores/Pieles/PielesClaras/ClaraPalida2.png' %}">
            <p>Las pieles claras pálidas se benefician de colores vibrantes y contrastantes. Aquí algunas sugerencias:</p>
            <ul class="uwu">
                <li><strong>Colores:</strong>
                    <ul class="uwu">
                        <li>Rojo cereza (#DE3163)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/RojoCereza.png' %}" >
                        <li>Azul real (#4169E1)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/AzulReal.png' %}" >
                        <li>Amarillo suave (#FFFFE0)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/AmarilloSuave.png' %}" >
                        <li>Lila (#C8A2C8)</li>
                        <img class="colores" src="{% static 'images/Colores/Ropa/PielesClaras/Lila.png' %}" >
                    </ul>
                </li>
                <li><strong>Prendas:</strong>
                    <ul class="uwu">
                        <li><em>Informal:</em> Camisetas en colores vibrantes, jeans oscuros, vestidos alegres.</li>
                        <li><em>Casual:</em> Blusas estampadas, pantalones de colores, faldas cortas.</li>
                        <li><em>Formal:</em> Trajes en tonos oscuros, vestidos de noche elegantes.</li>
                    </ul>
                </li>
            </ul>
            <h3>Accesorios</h3>
            <p>Para las pieles pálidas, se recomiendan accesorios en tonos contrastantes:</p>
            <ul class="uwu">
                <li>Joyas en tonos plateados o con piedras de colores.</li>
                <li>Bolsos en colores vivos o neutros.</li>
                <li>Pañuelos en tonos brillantes para añadir contraste.</li>
            </ul>
            <h3>Sombreros y Gorros</h3>
            <p>Los sombreros y gorros pueden completar cualquier look. Aquí algunas recomendaciones:</p>
            <ul class="uwu">
                <li><em>Informal:</em> Gorras de colores vivos para el verano, gorros de lana en tonos oscuros para el invierno.</li>
                <li><em>Formal:</em> Sombreros tipo fedora en tonos contrastantes, sombreros de ala ancha para eventos formales.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Conclusión</h2>
            <p>Encontrar los colores y prendas adecuadas para resaltar la belleza de las pieles claras, ya sean rojizas, rosadas o pálidas, es esencial para lucir bien en cualquier ocasión. Esperamos que estas recomendaciones te ayuden a elegir las mejores opciones para tu guardarropa y te permitan expresar tu estilo personal con confianza. ¡Recuerda siempre experimentar y divertirte con la moda!</p>
        </div>
    </div>
</div>
    {% endblock %}