{% extends 'beauty/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container mt-3 texto d-flex justify-content-center">
  <h1 style="color: aliceblue;">Regístrate!</h1>
</div>
<div class="container mt-3 texto" style="margin-left: auto; margin-right: auto; max-width: fit-content;">
  <p style="color: aliceblue;">Crea una cuenta para poder usar nuestras aplicaciones, también podrás dejar tus posts
    en nuestro blog y agregar reseñas!</p>
</div>

<form action="" method="POST">
  {% csrf_token %}
  <div class="container mt-3 backg mb-5" style="max-width: 50%;">
    <div class="flex">
      <div class="form-floating mb-3" style="width: 32%; margin-right: 2%;">
        <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required>
        <label for="username">Usuario</label>
      </div>
      <div class="form-floating mb-3" style="width: 32%; margin-right: 2%;">
        <input type="text" id="nombre" name="first_name" class="form-control" placeholder="Nombre">
        <label for="nombre">Nombre</label>
      </div>
      <div class="form-floating mb-3" style="width: 32%;">
        <input type="text" id="apellido" name="last_name" class="form-control" placeholder="Apellido">
        <label for="apellido">Apellido</label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="email" id="correo" name="email" class="form-control" placeholder="tucorreo@correo.cl" required>
      <label for="correo">Correo</label>
      <p class="error" id="validacion-1"></p>
    </div>
    <div class="flex">
      <div class="form-floating mb-3" style="width: 49%; margin-right: 2%;">
        <input type="password" id="contraseña" name="password1" class="form-control" placeholder="Contraseña" required>
        <label for="contraseña">Contraseña</label>
        <p class="error" id="validacion"></p>
      </div>
      <div class="form-floating mb-3" style="width: 49%;">
        <input type="password" id="contraseña2" name="password2" class="form-control" placeholder="Confirmar Contraseña" required>
        <label for="contraseña2">Confirmar Contraseña</label>
      </div>
    </div>
    <div class="form-floating mb-3" style="width: 49%;">
      <input type="date" id="fecha_nacimiento" name="fecnac" class="form-control" placeholder="Fecha de Nacimiento">
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
    </div>
    <div class="form-floating mb-3" style="margin-left: auto; margin-right: auto; max-width: fit-content;">
      <button type="submit" class="btn btn-success" id="registro">Enviar</button>
      <a href="/index.html"><button class="btn btn-danger" id="cancelar">Cancelar</button></a>
    </div>
  </div>
</form>

</div>
</div>

{% endblock %}