* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(12, 16, 26, 0.1), rgba(12, 16, 26, 0.1)),
  url("https://i.ibb.co/WgvSPRT/blue-palette-liquid-ink-background-with-golden-streaks.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "roboto", sans-serif;
  transition: 3s;  
}

.nav {
  background-color: transparent;
  transition: 2s;
  border-radius: 0 0 20px 20px;

}

.nav:hover {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  opacity: 100%;
}

.contenedor {
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
  flex: 1;
}

.backg {
  background-color: rgba(180, 178, 178, 0.4);
  padding: 1%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: rgb(59, 57, 57) 1px 1px 25px;
}

.error {
  color: red;
  text-shadow: black 1px 1px 2px;
}

.flex {
  display: flex;
  
}

.texto {
  text-shadow: black 3px 3px 5px;
}
/*BLOG*/

.card {
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 1%;
  width: fit-content;
  height: 500px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: justify;

}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(12, 16, 26, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2.5s;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  padding: 16px;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.card-sub-title {
  padding: 16px;
  padding-bottom: 0;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
}

.card-info {
  padding: 16px;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0;
  font-weight: 400;
  text-align: justify;
}

#card-btn {
  color: #fffcfc;
  background: #146c9b;
  padding: 10px 20px;
  margin-left: 16px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  width: 120px;
}
.supercontainer {
  display: flex;
}

.blog-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  background-color: #2e2e2e;
  color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

 /*Blog inside*/

 .blog-content {
  flex: 1;
  margin: 3px;
  column-count: 2;
  column-gap: 40px;
  background: linear-gradient(rgba(87, 224, 110, 0.15), rgba(206, 145, 241, 0.15)),
  url("https://i.ibb.co/HxKqFvm/16340656-v798-adj-28.jpg");
  background-size: cover;
  color: #2b2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
.blog-content h1,
.blog-content h2,
.blog-content h3 {
  break-inside: avoid;
  color: #1e1e1e;
  text-align: justify;
}
.blog-content ul.uwu {
  list-style-type: square;
  margin-left: 20px;
  break-inside: avoid;
}
.blog-content a {
  color: #1e1e1e;
  text-decoration: none;
  text-align: justify;
}
.blog-content a:hover {
  text-decoration: underline;
}
.blog-content hr {
  border: 0;
  height: 1px;
  background: #1e1e1e;
  margin: 20px 0;
}


/* Footer */
footer {
  background-color: #000;
  color: #fff;
  flex-shrink: 0;
  padding: 1rem 0;
  }

/* Footer default style */
footer a {
  text-decoration: none;
  color: #fff;
  
}

footer h2 {
  margin-bottom: 1rem;
}

footer p {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}

/* Footer Content */
.footer-content {
  padding: 1rem 2rem;
  
}

.footer-content .container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  
}

/* Contact */
.footer-content .logo {
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.footer-content .contact .icon {
  font-size: 10px;
  margin-right: 10px;
}

.footer-content .social-media-links {
  margin-top: 0.1rem;
}

.footer-content .social-media-links .icon {
  font-size: 55px;
  margin-right: 1rem;
}

/* Info */
.footer-content .info {
  margin-left: 1rem;
}

/* Newsletter */
.footer-content .newsletter form {
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  max-width: 500px;
  font-size: 14px;
}

.footer-content .newsletter input {
  flex: 1 1;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 10px;
  color: inherit;
  min-height: 35px;
}

.footer-content .newsletter button {
  width: 100px;
  border-radius: 50px;
  padding: 0 10px;
  min-height: 35px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.2s ease;
}

.footer-content .newsletter button:hover {
  cursor: pointer;
  color: #f5db46;
  background-color: #2c2c2c;
}

/* Footer Copyright */
.footer-copyright {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

/* Responsive design */
@media (max-width: 991px) {
  main h1 {
    margin: 3rem 0;
    font-size: 3rem;
  }

  .footer-content .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content .newsletter {
    margin-top: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .footer-content .container {
    grid-template-columns: 1fr;
  }

  .footer-content .col {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-content .newsletter {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
  }

  .footer-content .info {
    margin-left: 0;
  }
}



.index-img {
   
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: 5px solid #fff;
}

.img-index {

  height: 700px;
  margin-left: 70px;
  width: 1200px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;

}

/*NOSOTROS*/
.about-us-container {

  background-color: #1f1e1e;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 5px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.about-us-content {

  text-align: justify;
  padding: 20px;
  background: linear-gradient(rgba(87, 224, 110, 0.15), rgba(206, 145, 241, 0.15)),
  url("https://i.ibb.co/HxKqFvm/16340656-v798-adj-28.jpg");
  background-size: cover;
}

/*TERMS AND CONDICIONES*/
.terms-container{

  background-color: #1f1e1e;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 5px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

}

.terms-content {

  text-align: justify;
  padding: 20px;
  background: linear-gradient(rgba(87, 224, 110, 0.15), rgba(206, 145, 241, 0.15)),
  url("https://i.ibb.co/HxKqFvm/16340656-v798-adj-28.jpg");
  background-size: cover;
}


/*PRIVACIDAD*/
.privacy-container {

  background-color: #1f1e1e;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 5px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

}

.privacy-content {

  text-align: justify;
  padding: 20px;
  background: linear-gradient(rgba(87, 224, 110, 0.15), rgba(206, 145, 241, 0.15)),
  url("https://i.ibb.co/HxKqFvm/16340656-v798-adj-28.jpg");
  background-size: cover;

}

.drop-label {

  margin-top: 8px;
}

#btn-drop {

  color: #fff;
  background-color: #146c9b;
  border-radius: 5px;
}

